*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(0, 0%, 95%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	margin: 2rem;
}

.btn {
	padding: 0.7rem 1rem;
	border-radius: 7px;
	font-weight: bold;
	border: none;
}

.new-book {
	background-color: hsl(256, 86%, 62%);
	color: #fff;
	margin: 2rem;
}

.new-book:hover {
	cursor: pointer;
	background-color: hsl(256, 86%, 60%);
}

.card {
	background-color: #fff;
	border-radius: 20px;
	padding: 1rem 2rem;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.05);
}

.card div,
.card button {
	margin: 1rem 0;
}

.title,
.author {
	font-size: 1.3rem;
	font-weight: bold;
	letter-spacing: 1px;
}

.info {
	font-style: italic;
}

/* Form Styles */

.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
}

.switch {
	margin: 0 auto;
}

.delete-book {
	width: 100%;
	font-size: 0.95rem;
	background-color: #f32424;
	color: #fff;
}

.submit {
	grid-column: span 2;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
